/* css/app.css */
@import "../node_modules/normalize.css/normalize.css";

body, div, span {
    box-sizing: border-box;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-shrink: 0;
    align-content: flex-start;

    border: 0 solid black;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body, html {
    width: 100vw;
    height: 100vh;
}

/*body {*/
/*background-color: rgba(255,255,0,0.3);*/
/*}*/

body {
    background-color: #1F1E34;
    color: #FFF;
    font-family: "Avenir Next",
    "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,
    Arial, "Lucida Grande", sans-serif;
    font-weight: 100;

}

h1 {
    font-size: 64px;
    font-weight: 100;
    position: relative;
}

h2 {
    font-size: 48px;
    font-weight: 100;
}

p {
    font-size: 24px;
}

a {
    font-weight: 400;
    color: #FFF;
    padding: 10px;
}

a:hover {
    font-weight: 400;
    color: #DADADA;
    text-decoration: none;
}

.section {
    /*background-color: rgba(255, 0, 0, 0.3);*/
    /*border: 2px solid #FFF;*/
    text-align: center;
    overflow: hidden;
    position: relative;
}

.vertical-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.horizontal-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#navigation-horizontal {
    height: auto;
}

.iphone-demo {
    height: auto;
    width: auto;
    align-self: stretch;
    flex-grow: 1;
    flex-basis: 0;
    /*background-color: rgba(255, 0, 0, 0.3);*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.feature-description {
    height: auto;
    align-self: stretch;
    width: auto;
    flex-grow: 1;
    flex-basis: 0;
    /*background-color: rgba(0, 255, 0, 0.3);*/
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.center-div {
    margin: auto;
    width: 100%;
}

.child-img {
    position: absolute;
    top: 90px;
    left: 25px;
}

.parent-img-container {
    width: auto;
    height: auto;
}

#android-robot {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%) rotate(-45deg);
}

#center-text {
    margin: auto;
}

#slider-control {
    position: fixed;
    z-index: 3;
    padding: 3px;
    left: 97%;
    top: 50%;
}

#slider-control a {
    padding: 3px;
}

#slider-control .dot {
    width: 16px;
    height: 16px;
    border: 1px solid #fff;
    border-radius: 8px;
}

#slider-control .active .dot {
    background-color: #fff;
}

#intro-section {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    position: static;
}

#float-title {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

.overlay {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(31, 30, 52, 1));
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.react-logo {
    position: relative;
}

#float-overlay{
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: #1F1E34;
}





